.info-location{
    margin-top: 15px;
}

.container-iframe{
    width: 100%;
    padding: 0px 15px;
}

.info-location-iframe{
    margin-top: 10px;
    width: 100%;
    outline: none;
    border-radius: 30px;

}