:root{
    --primary-color: #1a6da9;
    --secondary-color: #f8f0eb;
    --terciary-color: #006c9d;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family:"Oswald", sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: #1a6da9;
}

h2{
    font-size: 2.7rem;
}

.navbar .dropdown-toggle::after {
    display: none;
}